


<!doctype html>

<html>

    <head>
        <title>Voos: <%= controller.action_name %></title>

        <%= stylesheet_link_tag 'scaffold' %>
        <%= javascript_include_tag 'prototype'%>
    </head>

    <body>
    
        <%= yield %>
    
        
    </body>
    
</html>